body,
html {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", Arial, sans-serif;
  margin: 0;
  text-align: center;
  color: white;
  font-weight: bold;
  background: rgb(49, 126, 49);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: goldenrod;
}

#message-el {
  font-style: italic;
}

button {
  color: #016f32;
  width: 150px;
  background: goldenrod;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-weight: 700;
  margin: 3px;
}

button:hover {
  color: white;
}
