html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  padding: 0;
  background: #1c1c1c;
}

/* TABLE OF CONTENTS 
    1 app container
    2 header
    3 main
      3.1 buttons
      3.2 services
      3.3 total amount
      3.4 send button
*/

/* 1 app container */

.app-container {
  margin: auto;
  min-height: 72rem;
  max-width: 55rem;
  background: #ffffff;
}

/* 2 header */

header {
  line-height: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 190px;
  color: #2b283a;
  background: #f5f5f5;
}

header h1 {
  font-size: 40px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: -0.02em;
}

header * {
  margin: 9px;
}

/* 3 main */

.main-container {
  padding: 0 40px;
}

/* 3.1 buttons */

.btn-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 3.7rem 0;
}

.btn-wrapper button {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding: 12px 21px;
  border-radius: 7px;
  color: #4a4e74;
  border: #d5d4d8 solid 2px;
  background: none;
  transition-duration: 0.15s;
}

.btn-wrapper button:disabled {
  color: #d5d4d8;
}

.btn-wrapper button:hover:enabled {
  color: #ffffff;
  border: #3770ed solid 2px;
  background: #3770ed;
  cursor: pointer;
}

.btn-wrapper button:active:enabled {
  color: #ffffff;
  background: #3257a8;
  border: #3257a8 solid 2px;
  cursor: pointer;
}

/* 3.2 price / input */

.service-list {
  display: flex;
  justify-content: space-between;
}

.service-list h2 {
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  color: #918e9b;
  margin-bottom: 20px;
}

.render-service * {
  display: flex;
}

.render-service * {
  line-height: 20px;
  margin: 6px 0;
  padding: 0;
}

.render-service > div > p {
  font-weight: 700;
  font-size: 20px;
  color: #4a4e74;
}

.render-service > div > p > span {
  font-weight: 300;
  font-size: 24px;
  line-height: 20px;
  color: #918e9b;
  padding: 0;
  margin: 0;
}

.render-service > div > button {
  margin-left: 20px;
  font-weight: 400;
  font-size: 8px;
  line-height: 20px;
  color: #918e9b;
  background: none;
  border: none;
  cursor: pointer;
}

.render-service > div > .price {
  font-weight: 500;
  font-size: 24px;
  margin-left: auto;
}

/* 3.3 checkout / output */

.total-price {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #c3c6db;
  margin-top: 35px;
}

.total-price h2 {
  font-size: 12px;
  font-weight: 600;
  line-height: 32px;
  color: #918e9b;
}

.output-render {
  display: flex;
  justify-content: space-between;
  color: #4a4e74;
}

.output-render * {
  margin: 0;
}

.output-render .note-txt {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}

.output-render .render-total {
  font-size: 36px;
  font-weight: 600;
  line-height: 32px;
  color: #4a4e74;
}

/* 3.4 send button */

.send-btn {
  margin: 10% 0;
  width: 100%;
  padding: 10px 21px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  border-radius: 7px;
  border-style: none;
  color: white;
  background: #3770ed;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition-duration: 0.15s;
}

.send-btn:active {
  background: #3257a8;
}
